html {
	height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
	overflow: hidden;
	background: rgb(119, 57, 57);	
	font-family: space mono regular;
}

li {  
	display: inline-flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
	color: pink;
}

h1 {
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
}

.fel {
	position: relative;
	top: -100px;
	left: -116px;
	right: auto;
	text-shadow: 0px 0px 20px black;
	z-index: 9999;
}

.owe {
	position: relative;
	top: 25px;
	left: -25px;
	text-shadow: 0px 0px 20px black;
	z-index: 9999;
}